 <div class="user-details">
  <h1> What we do </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-go-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <p>Code is yours. Pay only the support.</p>
    </div>
    <div class="tech">
      <h2>Hosting</h2>
      <i class="devicon-heroku-plain colored"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <i class="devicon-google-plain colored"></i>
      <p>Deploy in mainstream solutions. Or use a offshore service.</p>
    </div>
</div>
