<div class="user-details">
  <h1> What we use </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="blocksci" src="{{ "/assets/img/blocksci.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BlockSci </h3>
    <ul>
      <li> An analysis platform with batteries included. </li>
    </ul>
    <p>You can combine this tool with your solution and use another database like SaaS KYT.</p>
    <a class="project-link" href="https://github.com/citp/BlockSci">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="blockapi" src="{{ "/assets/img/blockapi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> BlockAPI </h3>
    <ul>
      <li> A framework for query data. </li>
    </ul>
    <p>This project use Scala and it is easy put data from another blockchain.</p>
    <a class="project-link" href="https://github.com/blockchain-unica/blockapi">Check it out</a>
  </div>
</div>
