<div class="user-details">
  <h1> What we use </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="blocksci" src="{{ "/assets/img/blocksci.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Lorem Ipsum 1 </h3>
    <ul>
      <li> Lorem ipsum 1 data. </li>
    </ul>
    <p>Lorem ipsum adjusted....</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="blockapi" src="{{ "/assets/img/blockapi.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Lorem Ipsum 2 </h3>
    <ul>
      <li> Lorem ipsum 2 data. </li>
    </ul>
    <p>Lorem ipsum adjusted...</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
